@{
    ViewBag.Title = "HOME";
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/autocomplete-field.css")
    @Styles.Render("~/Content/date-picker.css")
}

<!--    search box section    -->
<section id="search-box-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="search-container">
                <div class="suplux-search-box">
                    <div class="autocomplete">
                        <p>From</p>
                        <input id="starting-point" type="text" name="from" value="" placeholder="Enter City" autocomplete="off" />
                    </div>
                </div>
                <div class="suplux-search-box">
                    <div class="autocomplete">
                        <p>To</p>
                        <input id="ending-point" type="text" name="to" value="" placeholder="Enter City" autocomplete="off" />
                    </div>
                </div>

                <div class="suplux-search-box suplux-date-box">
                    <p>journey date</p>
                    <input id="suplux-datepicker" class="date" type="text" name="to" value="" readonly="readonly" placeholder="Enter City" />
                    <p id="suplux-day">Day</p>
                </div>
                <div class="search-btn-container">
                    <button class="suplux-btn"><i class="fas fa-search"></i>Search</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    why us section    -->

<section id="why-us-section">
    <div class="container">
        <div class="row">
            <h2 class="section-title">Why Us?</h2>
            <div class="suplux-card-group">
                <div class="suplux-card">
                    <div class="suplux-card-image">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 240.235 240.235" style="enable-background:new 0 0 240.235 240.235;" xml:space="preserve">
                        <path d="M211.744,6.089C208.081,2.163,203.03,0,197.52,0h-15.143c-11.16,0-21.811,8.942-23.74,19.934l-0.955,5.436
	                    c-0.96,5.47,0.332,10.651,3.639,14.589c3.307,3.938,8.186,6.106,13.74,6.106h19.561c2.714,0,5.339-0.542,7.778-1.504l-2.079,17.761
	                    c-2.001-0.841-4.198-1.289-6.507-1.289h-22.318c-9.561,0-18.952,7.609-20.936,16.961l-19.732,93.027l-93.099-6.69
	                    c-5.031-0.36-9.231,1.345-11.835,4.693c-2.439,3.136-3.152,7.343-2.009,11.847l10.824,42.618
	                    c2.345,9.233,12.004,16.746,21.53,16.746h78.049h1.191h39.729c9.653,0,18.336-7.811,19.354-17.411l15.272-143.981
	                    c0.087-0.823,0.097-1.634,0.069-2.437l5.227-44.648c0.738-1.923,1.207-3.967,1.354-6.087l0.346-4.97
	                    C217.214,15.205,215.407,10.016,211.744,6.089z" />

                    </svg>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">COMFORTABLE</h4>
                        <p class="card-text">We have very large leg space in between seats.You can spend 12 hours without any discomfort in our seats</p>
                    </div>
                </div>
                <div class="suplux-card">
                    <div class="suplux-card-image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M4618.5,4994.4c-670.2-93.9-1259.6-375.5-1729-825.2C2206.2,3514.3,1865.7,2603.9,1953,1674c74.2-799,320.9-1349.1,1170.1-2606.5c910.3-1351.3,1113.3-1787.9,1355.7-2944.9c109.2-521.7,168.1-696.4,270.7-805.5c78.6-87.3,89.5-89.5,237.9-98.2l155-8.7l96,93.9c117.9,120.1,161.6,235.8,296.9,794.6C5830.1-2692.1,6017.8-2283.9,6915-921.7C7620.1,150.2,7860.3,637,8006.5,1287.6c67.7,299.1,72,969.3,10.9,1261.8c-135.4,628.7-436.6,1167.9-903.8,1615.4c-419.1,401.7-866.7,641.8-1447.3,777.2C5408.7,5003.1,4871.7,5029.3,4618.5,4994.4z M5581.2,4136.4c853.6-222.7,1480.1-895,1646-1768.3c41.5-222.7,41.5-589.4,0-833.9c-72-403.9-268.5-799-554.5-1106.8C6199-81.2,5572.5-338.8,4893.5-303.9c-1615.4,83-2621.8,1781.4-1921.1,3239.6c312.2,652.7,903.8,1100.2,1639.5,1240C4867.3,4223.7,5312.7,4206.3,5581.2,4136.4z" /><path d="M4697.1,3171.5c-216.1-58.9-388.6-163.7-572-347.1c-189.9-192.1-286-355.8-347.1-591.6c-102.6-399.5,30.6-862.3,334-1165.7c251-248.9,550.1-373.3,899.4-373.3c355.8,0,609.1,107,875.4,371.1c259.8,257.6,377.7,530.5,377.7,884.1c0,565.4-395.1,1076.2-947.4,1222.5C5168.6,3210.8,4841.1,3210.8,4697.1,3171.5z M5133.7,2372.5c323.1-82.9,434.4-499.9,194.3-731.3c-290.3-281.6-775-87.3-775,307.8c0,242.3,187.7,430.1,443.1,445.3C5018,2396.5,5079.1,2385.6,5133.7,2372.5z" /></g>
                    </svg>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">GPS NAVIGATION</h4>
                        <p class="card-text">All of our buses are equipped with GPS and Camera for safety of the valued passenger.</p>
                    </div>
                </div>
                <div class="suplux-card">
                    <div class="suplux-card-image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                        <g><path d="M775.6,714.4c50.7,0,91.9-41.2,91.9-91.9s-41.2-91.9-91.9-91.9s-91.9,41.2-91.9,91.9S725,714.4,775.6,714.4z M745,591.9h61.3v61.3H745V591.9z M714.4,255V10H132.5c-34,0-64.7,13.9-86.9,36.4l-3.3-19.5l-5.1,29.7C20.4,77.5,10,103.7,10,132.5v61.3c0,5.1,0.9,10,1.5,15c-0.8,5.1-1.5,10.3-1.5,15.6v643.1C10,935.1,64.9,990,132.5,990h735C935,990,990,935.1,990,867.5V255H714.4z M71.3,132.5c0-33.8,27.5-61.3,61.3-61.3h520.6V255H132.5c-4,0-7.9-0.5-11.6-1.2c-1.3-0.3-2.6-0.7-4-1.1c-2.4-0.6-4.7-1.3-6.9-2.1c-1.6-0.6-3-1.4-4.5-2.1c-1.8-0.9-3.6-1.8-5.3-2.9c-1.6-1-3.2-2.1-4.7-3.3c-1.3-1-2.6-2-3.8-3.2c-1.7-1.5-3.2-3.1-4.7-4.8c-0.8-0.9-1.5-1.8-2.3-2.8c-1.7-2.1-3.2-4.3-4.6-6.6c-0.3-0.5-0.5-1-0.8-1.4c-3.3-6-5.7-12.5-6.9-19.5l-0.2-1.3c-0.4-2.9-0.9-5.8-0.9-8.8V132.5z M928.8,745h-245c-33.8,0-61.3-27.5-61.3-61.3V561.3c0-33.8,27.4-61.2,61.3-61.2h245V745z M928.8,438.7h-245c-67.5,0-122.5,54.9-122.5,122.5v122.5c0,67.6,55,122.5,122.5,122.5h245v61.3c0,33.8-27.4,61.3-61.3,61.3h-735c-33.8,0-61.3-27.5-61.3-61.3V299.8c4.3,2.5,8.7,4.7,13.3,6.6c0.1,0.1,0.2,0.2,0.4,0.2c6.6,2.8,13.4,4.8,20.5,6.4c1.7,0.4,3.3,0.7,5,1c7.2,1.3,14.5,2.2,22,2.2h581.9h214.4V438.7z" /></g>
                    </svg>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">BUY TICKETS EASILY</h4>
                        <p class="card-text">You can buy ticket from our wide range of ticketing booth and online. You can book your seat through our call center +8809606444777.</p>
                    </div>
                </div>
                <div class="suplux-card">
                    <div class="suplux-card-image">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"><path d="M4867.3,4564.8c-2517.6-248.9-4583.4-457.6-4591-463.3c-5.7-7.7,19.1-323.6,55.5-702.6l68.9-691.1v-3742.9V-4780h4661.9h4661.9v3723.7v3723.8h-402.1c-220.2,0-402.1-3.8-402.1-7.7s-51.7-247-114.9-541.8c-63.2-292.9-114.9-538-114.9-545.6c0-9.6-206.8-15.3-459.5-15.3c-377.2,0-459.5,3.8-459.5,26.8c0,26.8,202.9,989.8,222.1,1051.1c9.6,30.6-19.1,32.5-493.9,28.7l-503.5-5.7l-107.2-497.8c-57.4-273.8-113-520.8-118.7-549.5l-13.4-53.6h-459.5c-252.7,0-459.5,3.8-459.5,7.7c0,3.8,51.7,247,114.9,541.8c63.2,292.9,114.9,538,114.9,547.5c0,7.7-233.6,11.5-520.8,9.6l-518.8-5.7l-118.7-545.6l-116.8-545.6l-463.3-5.7l-463.3-3.8l9.6,42.1c32.5,137.8,220.2,1031.9,220.2,1049.2c0,11.5-181.9,19.1-516.9,19.1H3062l-11.5-45.9c-5.7-24.9-59.4-271.9-118.7-549.5l-109.1-505.4l-465.2-5.7c-438.4-3.8-465.2-1.9-455.7,28.7c19.1,68.9,222.1,1024.3,222.1,1051.1c0,23-116.8,26.8-807.9,28.7c-446.1,1.9-796.4,5.7-781.1,9.6c15.3,3.8,377.2,42.1,802.2,84.2c425,40.2,775.4,78.5,779.2,82.3c3.8,3.8-70.8,247-164.6,539.9c-93.8,294.8-168.5,536.1-166.6,538c24.9,13.4,901.7,84.2,913.2,72.8c7.7-9.6,88.1-248.9,178-532.2c90-281.4,168.5-516.9,174.2-522.7c11.5-11.5,1009,84.2,1022.4,99.6c5.7,3.8-67,245.1-158.9,536.1c-93.8,289.1-166.6,528.4-160.8,534.1c11.5,9.6,897.9,93.8,905.6,86.2c3.8-3.8,82.3-245.1,176.1-534.2c91.9-289.1,168.5-530.3,172.3-534.1c5.7-5.7,1026.2,91.9,1035.7,99.6c1.9,1.9-74.7,245.1-168.5,538c-93.8,294.8-168.5,536.1-166.5,538c11.5,9.6,859.6,88.1,888.3,82.3c21.1-3.8,80.4-158.9,199.1-532.2c93.8-289.1,178-528.4,187.6-532.2c19.1-5.7,963,88.1,972.6,97.6c1.9,1.9-72.8,245.1-166.6,538c-93.8,294.8-168.5,536.1-166.6,538c23,15.3,903.7,86.1,913.2,74.7c7.6-9.6,86.2-243.1,174.2-518.8c88.1-275.7,164.6-511.2,172.3-522.7c11.5-17.2,95.7-15.3,356.1,7.7c189.6,17.2,363.8,36.4,390.6,42.1l49.8,9.6l-72.7,712.2c-38.3,392.5-70.8,714.1-70.8,717.9C9533,5026.2,9473.7,5020.4,4867.3,4564.8z M9341.6-1611.5v-2785.6H5062.6h-4279v2785.6v2785.6h4279h4278.9V-1611.5z" /><path d="M1147.4,245.6V63.7h1120h1120v-746.7v-746.7h-1120h-1120v-181.9v-181.9h1120h1120V-2540v-746.7h-1120H1145.5l5.7-185.7l5.7-187.6h3905.6h3905.6l5.7,187.6l5.8,185.7H6364.5H3751.2l3.8,740.9l5.7,742.8l2607.6,5.8l2609.5,3.8v181.9v181.9H6364.5H3751.2v746.7V63.7h2613.3h2613.3v181.9v181.9H5062.6H1147.4V245.6z" /></g>
                    </svg>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">ENTERTAINMENT ON BOARD</h4>
                        <p class="card-text">Our buses are equipped with full HD Display and DVD player to play drama , music and movies in order to make the journey more enjoyable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    destinations section    -->
<section id="destination-section">
    <div class="container">
        <div class="row">
            <h2 class="section-title">Destinations</h2>
            <div class="destination-card-container">
                <div class="suplux-card-group">
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/bandarban.jpg" alt="bandarban image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bandarban</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/benapole.jpg" alt="benapole image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Benapole</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/chittagong.jpg" alt="chattogram image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Chattogram</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/coxs-bazar.jpg" alt="coxs bazar image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Cox's Bazar</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/dhaka.jpg" alt="dhaka image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Dhaka</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/jessore.jpg" alt="jessore image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Jessore</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/khagrachari.jpg" alt="khagrachari image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Khagrachari</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/khulna.jpg" alt="khulna image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Khulna</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/rangamati.jpg" alt="rangamati image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Rangamati</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/saint-martin.jpg" alt="saint martin image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Saint Martin</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/satkhira.jpg" alt="satkhira image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Satkhira</h4>
                        </div>
                    </div>
                    <div class="suplux-card">
                        <div class="suplux-card-image">
                            <img src="~/Resources/images/sylhet.jpg" alt="sylhet image" />
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Sylhet</h4>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>

@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/Scripts/autocomplete-field.js")
@Scripts.Render("~/Scripts/date-picker.js")